@using Microsoft.AspNetCore.Identity
@inject SignInManager<DoAn1.Models.KhachHang> SignInManager
@inject UserManager<DoAn1.Models.KhachHang> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@model DoAn1.Models.KhachHang

<section class="breadcrumb breadcrumb_bg" style="position: relative; z-index: 1; background-color: #e8f0f2; margin-bottom: 0px !important;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <p style="font-size: 15px; color: #777777;">Laptop / Profile</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />

<div class="container">
    <h5 style="text-align:center; font-weight:bold">Thay đổi thông tin</h5>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-md-12 col-sm-12">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TenKH)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TenKH)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DiaChiKH)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DiaChiKH)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DienThoaiKH)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DienThoaiKH)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TichDiem)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TichDiem) (50 Điểm giảm 10%, 100 điểm giảm 20%, 200 điểm giảm 30%. Mỗi món hàng mua thành công được cộng điểm = 10% giá trị món hàng.)
                </dd>
            </dl>
            <a asp-action="MyOrder" asp-route-id="@Model.Id" style="float: right; margin-top: 10%; border: none; border-radius: 1.5rem; padding: 2%; background: #0062cc; color: #fff; font-weight: 600; width: 200px;  text-align:center; cursor: pointer;">Lịch sử đặt hàng</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" style="float: right; margin-top: 10%; border: none; border-radius: 1.5rem; padding: 2%; background: #0062cc; color: #fff; font-weight: 600; width: 100px;  text-align:center; cursor: pointer;">Edit</a>

            <a asp-action="Voucher" asp-route-id="@UserManager.GetUserId(User)" style="float: right; margin-top: 10%; border: none; border-radius: 1.5rem; padding: 2%; background: #0062cc; color: #fff; font-weight: 600; width: 200px;  text-align:center; cursor: pointer;">Voucher của tôi</a>
            <a asp-action="ChangePassword" asp-route-id="@UserManager.GetUserId(User)" style="float: right; margin-top: 10%; border: none; border-radius: 1.5rem; padding: 2%; background: #0062cc; color: #fff; font-weight: 600; width: 200px;  text-align:center; cursor: pointer;">Đổi mật khẩu</a>
            <a asp-action="Index" asp-controller="Home" style="float: right; margin-top: 10%; border: none; border-radius: 1.5rem; padding: 2%; background: #0062cc; color: #fff; font-weight: 600; width: 200px;  text-align:center; cursor: pointer;">Quay về Trang chủ</a>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>