@model IEnumerable<DoAn1.Models.GhiChu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenGhiChu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.ds) {
        <tr>
            <td>
                @item.TenGhiChu
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GhiChuID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GhiChuID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GhiChuID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
